.footer, span.love {
    position: absolute;
    text-align: center
}

.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    font-size: 2em
}

.plus-minus-input .input-group-field ::-webkit-outer-spin-button, .plus-minus-input .input-group-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none
}

.plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    padding: .25em .8em
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef
}

span.love {
    color: #666;
    font-size: 12px;
    display: block;
    width: 90%;
    left: 50%;
    top: 45%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%)
}

span.love a {
    color: #000;
    text-decoration: none
}

span.love .fa {
    color: #E90606;
    margin: 0 3px;
    font-size: 10px;
    animation: pound .35s infinite alternate;
    -webkit-animation: pound .35s infinite alternate
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.1)
    }
}

@keyframes pound {
    to {
        transform: scale(1.1)
    }
}

a.github-fork-ribbon {
    box-sizing: initial
}

div div h2.align-center, div div h6.align-center {
    text-align: center
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.zen {
    justify-content: center;
    text-decoration: underline;
    font-size: 0.7em;
}

.zen:hover {
    font-weight: bold;
    cursor: pointer;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
